<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/editor.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/responsive.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div th:replace="~{forumforms.html :: navbar}"></div>

<section class="header-descriptin329">
    <div class="container">
        <h3>Create Post</h3>
    </div>
</section>

<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="ask-question-input-part032">
                    <h4>Create Post</h4>
                    <hr>
                    <form action="#" th:action="@{/posts/new}" th:object="${postDto}" method="post">
                        <div class="username-part940">
                            <span class="form-description43">Title name*</span>
                            <input th:field="*{title}" class="username029" placeholder="Enter your Title Name"/>
                            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message"></div>
                        </div>

                        <div class="categori49">
                            <span class="form-description43305">Tags*</span>
                            <select th:field="*{tagIds}" multiple class="list-category53">
                                <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.tagName}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('tagIds')}" th:errors="*{tagIds}" class="error-message"></div>
                        </div>

                        <div class="button-group-addfile3239">
                            <span class="form-description23993">Content*</span>
                        </div>
                        <div class="details2-239">
                            <div class="col-md-12 nopadding">
                                <textarea th:field="*{content}" id="txtEditor"></textarea>
                                <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error-message"></div>
                            </div>
                        </div>

                        <div class="publish-button2389">
                            <button type="submit" class="publis1291">Publish your Post</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- End of col-md-9 -->

            <!-- Start col-md-3 (side bar) -->
            <aside class="col-md-3 sidebar97239">
                <div class="status-part3821">
                    <h4>stats</h4>
                    <a href="#"><i class="fa fa-question-circle"> Posts(<span th:text="${postCount}">0</span>)</i></a>
                    <i class="fa fa-comment"> Users(<span th:text="${userCount}">0</span>)</i>
                </div>
            </aside>
            <!-- End of col-md-3 -->
        </div>
    </div>
</section>

<!-- Footer -->
<div th:replace="~{forumforms.html :: footer1}"></div>
<div th:replace="~{forumforms.html :: footer2}"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../../IdeaProjects/ForumProject/src/main/resources/js/jquery-3.1.1.min.js"></script>
<script src="../../../IdeaProjects/ForumProject/src/main/resources/js/bootstrap.min.js"></script>
<script src="../../../IdeaProjects/ForumProject/src/main/resources/js/editor.js"></script>
<script>
    $(document).ready(function() {
        $("#txtEditor").Editor();
    });
</script>
</body>

</html>
