<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/editor.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div th:replace="~{forumforms.html :: navbar}"></div>


<<section class="header-descriptin329">
    <div class="container">
        <h3>Edit Profile</h3>
    </div>
</section>

    <form action="#" th:action="@{'/profile/edit'}" th:object="${userDto}" method="post">

        <label>Username:</label>
        <br/>
        <input type="text" th:field="*{username}" th:value="${userDto.username}" readonly
               style="background-color: #f0f0f0; color: #555"/>
        <br/><br/>

        <label>First Name:</label>
        <br/>
        <input type="text" th:field="*{firstName}" th:value="${userDto.firstName}"/>
        <br/>
        <label class="error" th:errors="*{firstName}">First Name error placeholder</label>
        <br/><br/>

        <label>Last Name:</label>
        <br/>
        <input type="text" th:field="*{lastName}" th:value="${userDto.lastName}"/>
        <br/>
        <label class="error" th:errors="*{lastName}">Last Name error placeholder</label>
        <br/><br/>

        <label>Email:</label>
        <br/>
        <input type="email" th:field="*{email}"/>
        <br/><br/>

        <label>New Password:</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <br/><br/>

        <label>New Password Confirm:</label>
        <br/>
        <input type="password" th:field="*{passwordConfirm}"/>
        <br/><br/>

        <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Save"/>
    </form>
</div>
<form th:replace="~{forumforms.html :: footer1}"></form>
<form th:replace="~{forumforms.html :: footer2}"></form>
</body>
</html>