<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>fragments</title>
</head>
<body>

<div class="top-menu-bottom932" th:fragment="navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img src="../image/logo.png" alt="Logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"> </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="HomeView.html">Home</a></li>
                    <li><a href="ask_question.html">Create Post</a></li>
                    <li><a>View Posts</a></li>
                    <li><a href="contact_us.html">About us</a></li>



                    <li><a>Sign In</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>




<section class="footer-part" th:fragment="footer1">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="info-part-two320">
                    <h4>Quick Links</h4>
                    <a href="#">
                        <p>-Home</p>
                    </a>
                    <a href="#">
                        <p>-Create Post</p>
                    </a>
                    <a href="#">
                        <p>-View Posts</p>
                    </a>
                    <a href="#">
                        <p>-About Us</p>
                    </a>

                </div>
            </div>
            <div class="col-md-3">
                <div class="info-part-three320">
                    <h4>Popular Posts</h4>
                    <div class="news-info209">
                        <h5>Why are the British confused</h5>
                        <p>(Why I darest say, they darest not get offended when they so ...</p> <small>July 16, 2017</small> </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="footer-social" th:fragment="footer2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright 2017 Ask me | <strong>Sudo  Coder</strong></p>
            </div>
            <div class="col-md-6">
                <div class="social-right2389"> <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a> </div>
            </div>
        </div>
    </div>
</section>




</body>
</html>