<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/responsive.css}" rel="stylesheet" type="text/css">
</head>
<body>

<!-- Navbar Fragment -->
<div class="top-menu-bottom932" th:fragment="navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/image/logo.png}" alt="Logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/}" th:text="#{navbar.label.home}">Home</a></li>
                    <li><a th:href="@{/posts/new}" th:text="#{navbar.label.create.post}">Create Post</a></li>
                    <li><a th:href="@{/about}" th:text="#{navbar.label.about.us}">About us</a></li>
                    <li th:unless="${isAuthenticated}"><a th:href="@{/auth/login}" th:text="#{navbar.label.sign.in}">Sign
                        In</a></li>
                    <li th:if="${isAuthenticated}"><a th:href="@{/auth/logout}" th:text="#{navbar.label.sign.out}">Sign
                        Out</a></li>
                </ul>

            </div>

        </div>
    </nav>
</div>

<!-- Footer Fragment -->
<section class="footer-part" th:fragment="footer1">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info-part-two320">
                    <h4>Quick Links</h4>
                    <a th:href="@{/}">
                        <p>-Home</p>
                    </a>
                    <a th:href="@{/posts/new}">
                        <p>-Create Post</p>
                    </a>
                    <a th:href="@{/about}">
                        <p>-About Us</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-social" th:fragment="footer2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright 2017 Ask me | <strong>Sudo Coder</strong></p>
            </div>
        </div>
    </div>
</section>

<div class="post-details-home-view" th:fragment="post-view">
    <!-- Add dynamic title and content using Thymeleaf -->
    <div class="details-header923">
        <div class="row">
            <div class="col-md-8">
                <div class="post-title-left129">
                    <br/>
                    <a class="h3" style="margin-bottom: 10px" th:text="${post.title}" th:href="@{|/posts/| + ${post.id}}">This Is My first Question</a>
                    <br/>
                    <div style="height: 5px"></div>
                    <a class="h4" style="cursor: default; text-decoration: none; color: inherit;">Author: </a>
                    <a class="h4" th:text="${post.createdBy.firstName + ' ' + post.createdBy.lastName}" th:href="@{|/users/| + ${post.createdBy.id}}"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Display the post content -->
    <div class="post-details-info1982">
        <p th:text="${post.content}">Lorem ipsum dolor sit amet...</p>
        <hr>
        <div class="post-footer29032">
            <div class="l-side2023">
                <a href="#" ><i class="fa star2" style="cursor: default;" aria-hidden="true"
                               th:text="' ' + ${post.likesCount} + ' likes'">5</i></a>
                <i class="fa" aria-hidden="true" style="cursor: default;">
                                    <span th:each="tag : ${post.tags}">
                                        <span th:text="${tag.tagName}"></span>
                                    </span>
                </i>
                <i class="fa clock2" aria-hidden="true" style="cursor: default;"
                   th:text="${#dates.format(post.createdAt, 'dd MMM yyyy')}"></i>
                <a th:href="@{|/posts/| + ${post.id}} + |/comments|">
                    <i class="fa fa-commenting commenting2" aria-hidden="true"
                       th:text="' ' + ${post.comments.size()} + ' comments'"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
