<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/editor.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="~{forumforms.html :: navbar}"></div>
<section class="header-descriptin329">
    <div class="container">
        <h3>Profile View</h3>
    </div>
</section>
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div th:replace="~{forumforms :: user-view}"></div>

            <aside class="col-md-3 sidebar97239">
                <div class="status-part3821">
                    <h4>your stats</h4>
                    <a href="#"><i class="fa fa-question-circle"> Posts(<span th:text="${postCount}">0</span>)</i></a>
                    <i class="fa fa-comment"> Total likes from all posts(<span th:text="${likesCount}">0</span>)</i>
                </div>
            </aside>
        </div>
    </div>
</section>
<div style="height: 200px"></div>
<div th:replace="~{forumforms.html :: footer1}"></div>
<div th:replace="~{forumforms.html :: footer2}"></div>
</body>
</html>