<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="Ask online Form">
    <meta name="description"
          content="The Ask is a bootstrap design help desk, support forum website template coded and designed with bootstrap Design, Bootstrap, HTML5 and CSS. Ask ideal for wiki sites, knowledge base sites, support forum sites">
    <meta name="keywords"
          content="HTML, CSS, JavaScript,Bootstrap,js,Forum,webstagram ,webdesign ,website ,web ,webdesigner ,webdevelopment">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400"
          th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}">
    <link rel="stylesheet" href="../static/css/loginstyle.css" th:href="@{/css/loginstyle.css}">


</head>

<body>

<br/>
<br/>

<div class="modal-wrap">

    <div class="modal-bodies">
        <div class="modal-body modal-body-step-1 is-showing">
            <div class="title">Sign Up</div>
            <form>
                <input type="text" placeholder="First name" th:placeholder="#{sign.up.label.placeholder.first.name}"/>
                <input type="text" placeholder="Last Name" th:placeholder="#{sign.up.label.placeholder.last.name}"/>
                <input type="text" placeholder="Username*" th:placeholder="#{sign.up.label.placeholder.username}"/>
                <input type="email" placeholder="E-Mail*" th:placeholder="#{sign.up.label.placeholder.email}"/>
                <input type="password" placeholder="Password*" th:placeholder="#{sign.up.label.placeholder.password}"/>
                <input type="password" placeholder="Confirm Password*" th:placeholder="#{sign.up.label.placeholder.password.con}"/>
                <div class="col-md-4">

                </div>
                <div class="text-center">
                    <div class="button">Sign Up</div>

                </div>
            </form>
        </div>


    </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>


</body>
</html>
