<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/responsive.css}" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Include the navbar correctly -->
<div th:replace="~{forumforms.html :: navbar}"></div>

<section class="header-descriptin329">
    <div class="container">
        <h3>Post Details</h3>
    </div>
</section>

<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="post-details">
                    <!-- Add dynamic title and content using Thymeleaf -->
                    <div class="details-header923">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="post-title-left129">
                                    <h3 th:text="${post.title}">This Is My first Question</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Display the post content -->
                    <div class="post-details-info1982">
                        <p th:text="${post.content}">Lorem ipsum dolor sit amet...</p>
                        <hr>
                        <div class="post-footer29032">
                            <div class="l-side2023">
                                <a href="#"><i class="fa fa-star star2" aria-hidden="true" th:text="' ' + ${post.likesCount} + ' likes'">5</i></a>
                                <i class="fa fa-tags" aria-hidden="true">
                                    <span th:each="tag : ${tags}">
                                        <span th:text="${tag.tagName}"></span>
                                    </span>
                                </i>
                                <i class="fa fa-clock-o clock2" aria-hidden="true" th:text="${#dates.format(post.createdAt, 'dd MMM yyyy')}"></i>
                                <a th:href="@{/posts/{postId}/comments(postId=${postId})}">
                                    <i class="fa fa-commenting commenting2" aria-hidden="true" th:text="' ' + ${comments.size()} + ' comments'"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Author details section -->
                <div class="author-details8392">
                    <div class="author-img202l">
                        <img th:src="@{${author.profilePictureUrl}}" alt="Author Image">                        <div class="au-image-overlay text-center">
                            <a href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <span class="author-deatila04re">
                        <h5>About the Author</h5>
                        <!-- Make the author's name a clickable link to the user's view page -->
                        <p>
                            <a th:href="@{/users/{id}(id=${author.id})}" th:text="${author.firstName} + ' ' + ${author.lastName}">Author Name</a>
                        </p>
                        <p th:text="${author.email}">author@example.com</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Include the footer -->
<div th:replace="~{forumforms.html :: footer1}"></div>
<div th:replace="~{forumforms.html :: footer2}"></div>

</body>
</html>
