<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/responsive.css}" rel="stylesheet" type="text/css">
</head>

<body>

<div th:replace="~{forumforms.html :: navbar}"></div>

<section class="header-descriptin329">
    <div class="container">
        <h3>Users Who Commented</h3>
    </div>
</section>

<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="user-comments-list">
                    <ul>
                        <!-- Iterate over users -->
                        <li th:each="user : ${users}">
                            <div class="user-details">
                                <img th:src="@{${user.profilePictureUrl}}" alt="User Image">
                                <div class="user-info">
                                    <h4 th:text="${user.firstName + ' ' + user.lastName}">User Name</h4>
                                </div>
                            </div>
                            <div class="user-comments">
                                <ul>
                                    <li th:each="comment : ${comments}" th:if="${comment.createdBy.id == user.id}">
                                        <p th:text="${comment.content}">Comment content here</p>
                                        <p th:text="${#dates.format(comment.createdAt, 'dd MMM yyyy HH:mm')}">Comment Date</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li th:if="${users.size() == 0}">
                            <p>No users have commented on this post.</p>
                        </li>
                    </ul>
                </div>
                <div class="comment-form">
                    <h4>Add a Comment</h4>
                    <form th:action="@{/posts/{postId}/comments(postId=${post.id})}" method="post" th:object="${commentDto}">
                        <div class="form-group">
                            <input type="hidden" name="postId" th:value="${post.id}" />
                            <label for="commentContent">Comment:</label>
                            <textarea id="commentContent" name="content" class="form-control" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{forumforms.html :: footer1}"></div>
<div th:replace="~{forumforms.html :: footer2}"></div>

</body>
</html>
